	html, body {
		font-family: Arial, sans-seriff;
		background-image:url(file:///Users/androgabriel/Desktop/hd-wallpaper-5992-6324-hd-wallpapers.jpg);
		background-repeat: no-repeat;
		background-position:50% 50%;
		background-position: 50% 50%9 !important; 

			}
		p {
			color: #fff;
			margin-top:10px;
			margin-bottom:10px;

		}	
		h2 {
			margin-left:400px;
			margin-right:400px;
			margin-top:200px;
			padding:0;
			color: orange;
			position:relative;
			bottom:100px;

			
		} 
		dt {
			float:left;
			color: orange;
			width: 180px;
			
		}
		dd {
			margin-left: 200px;
			border-left: 2px solid orange;
			padding-left:10px;
			color:white;
			padding:2px;
		}
		dd p{
			margin:0;
			

		}
		.main-heading{
			padding-bottom:20px;
		}
		.large-input{
			padding-bottom:20px;
			padding-top:20px;
		}

		img {
			
			background-color: white;
			border:1 px white;
			padding:3px;
			padding-bottom: 3px;
			position:relative;
			float:right;
			box-shadow: 10px 10px 10px white;
			margin-top:-190px;
			margin-right:15px;
		}
